@import "tailwindcss";

@theme {
  --color-primary: #4B2E83;
  --color-secondary: #5E3AA1;
  --color-gold: #C9A227;
  --color-light: #F5F5F7;
  --color-dark: #2E1A47;
}

:root {
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-montserrat);
  background-color: white;
  color: #1a1a1a;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold tracking-tight;
  }
}
